<div class="navbar-header">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/logo.svg">
        <span class="logo-text"></span>
    </div>

    <button mat-button class="toggle-button-navbar mat-icon-button" NavbarVertical="toggleFold" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-button class="toggle-button-navbar mat-icon-button" NavbarVertical="closeBar" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>

<div class="navbar-content" PerfectScrollbar>
    <navigation layout="vertical"></navigation>
</div>
