<!-- SIDENAV CONTENT -->

<div class="nav">
    <div class="nav-group nav-item">
        <div class="group-title">
            <span class="hint-text">Search a user</span>
        </div>
        <div class="nav-item">
            <div class="nav-link">
                <p fxFlex>
                    <mat-form-field floatPlaceholder="never" fxFlex>
                        <input #userSearch matInput [(ngModel)]="query" placeholder="Search user with tag">
                    </mat-form-field>
                </p>
            </div>
        </div>
        <div *ngIf="userSearch.value.length >= 3">
            <div class="nav-link" *ngFor="let user of users | search:'firstName,lastName':query">
                <img [src]=" user.avatar" class="avatar" />
                <p fxFlex class="title">
                    {{user.firstName}} {{user.lastName}}
                </p>
                <p fxFlex *ngIf="isInArray(user._id, board.members)" class="hint-text">User already added</p>
                <mat-icon *ngIf="!isInArray(user._id, board.members)" 
                    class="s-18" matRipple (click)="$event.stopPropagation();addMember(user)">person_add</mat-icon>
            </div>
        </div>
    </div>

    <div class="nav-group nav-item" PerfectScrollbar>
        <div class="group-title">
            <span class="hint-text">Current Members</span>
        </div>
        <div class="nav-item">
            <div class="nav-link" *ngFor="let member of board.members">
                <img [src]=" member.avatar" class="avatar" />
                <p fxFlex class="title">{{member.firstName}} {{member.lastName}}</p>
                <mat-icon *ngIf="!member.owner" class="s-18" matRipple (click)="$event.stopPropagation();deleteMember(member)">delete</mat-icon>
                <mat-icon *ngIf="member.owner" class="s-18">star</mat-icon>
            </div>
        </div>
    </div>
    <!-- <mat-divider></mat-divider> -->
</div>
<!-- / SIDENAV CONTENT -->